# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/

# Local development settings
local_settings.py

# Logs and databases
*.log
*.sqlite3

# Environment variables
.env

# IDE-specific files
.vscode/
.idea/

# Compiled Python files
*.pyc
*.pyo
*.pyd

# Python cache folders
__pycache__/
.pytest_cache/
